<div class="container">
    <h1>Introducción a Angular</h1>
    <p>Angular es un framework de desarrollo web basado en TypeScript que es mantenido por Google. Está diseñado para facilitar la creación de aplicaciones web de una sola página (SPA, por sus siglas en inglés) ofreciendo una estructura robusta y herramientas potentes.</p>

    <h2>Características Principales de Angular</h2>
    <ul>
        <li><strong>Componentes:</strong> Son las piezas fundamentales de una aplicación Angular, que encapsulan la lógica y la vista de una parte específica de la interfaz de usuario.</li>
        <li><strong>Módulos:</strong> Agrupan componentes, directivas, pipes y servicios relacionados, permitiendo organizar y estructurar la aplicación de manera eficiente.</li>
        <li><strong>Enrutamiento:</strong> Permite navegar entre diferentes vistas o componentes de la aplicación, gestionando las URL de manera sencilla.</li>
        <li><strong>Data Binding:</strong> Proporciona mecanismos para enlazar datos entre el modelo y la vista de forma bidireccional.</li>
        <li><strong>Servicios e Inyección de Dependencias:</strong> Facilita la creación de servicios que pueden ser reutilizados en toda la aplicación y su inyección donde se necesiten.</li>
    </ul>

    <h2>Comenzando con Angular</h2>
    <p>Para comenzar a desarrollar con Angular, es recomendable instalar Angular CLI, una herramienta de línea de comandos que simplifica la creación y gestión de proyectos Angular.</p>
    <p>Para instalar Angular CLI, ejecuta el siguiente comando en tu terminal:</p>
    <pre><code>npm install -g &#64;angular/cli</code></pre>
    <p>Una vez instalado, puedes crear un nuevo proyecto Angular con el comando:</p>
    <pre><code>ng new nombre-del-proyecto</code></pre>
    <p>Para iniciar el servidor de desarrollo y ver tu aplicación en el navegador, navega hasta el directorio del proyecto y ejecuta:</p>
    <pre><code>ng serve</code></pre>
    <p>Luego, abre tu navegador y ve a <a href="http://localhost:4200" target="_blank">http://localhost:4200</a>.</p>

    <h2>Conclusión</h2>
    <p>Angular es una herramienta poderosa y versátil para el desarrollo de aplicaciones web modernas. Con sus características robustas y una comunidad activa, es una excelente opción para desarrollar aplicaciones complejas y escalables.</p>
    @defer(on viewport){
    <app-comments></app-comments>
    } @placeholder {
        <p>futuros comentarios</p>
    } @loading {
        <p>cargando componentes...</p>
    }
</div>


<!-- <router-outlet></router-outlet> -->
