<div *ngIf="showForm">
  <h1>{{ isEditMode ? 'Edit' : '' }} Movie</h1>
  <form (ngSubmit)="saveMovie()">
    <label>
      Title:
      <input [(ngModel)]="movie.title" name="title" required>
    </label>
    <label>
      Director:
      <input [(ngModel)]="movie.director" name="director" required>
    </label>
    <label>
      Description:
      <input [(ngModel)]="movie.description" name="description" required>
    </label>
    <label>
      Year:
      <input [(ngModel)]="movie.year" name="year" type="number" required>
    </label>
    <label>
      Image URL:
      <input [(ngModel)]="movie.imageURL" name="imageURL" required>
    </label>
    <button type="submit">{{ isEditMode ? 'Save' : 'Add' }}</button>
  </form>
</div>
<button type="button" class="add-button" (click)="showAddForm()">Agregar</button>



